[Unit]
Description=OpenQA Web Server

[Service]
User=fedora
Group=fedora
Environment=SRV='/home/fedora/openqa-containers/openqa-webserver'
ExecStart=/usr/bin/start-openqa-webserver.sh
Restart=no
ExecStop=/usr/bin/podman exec -it openqa-webserver /bin/bash -c "pkill -f openqa-webui-daemon"

[Install]
WantedBy=multi-user.target
