[Unit]
Description=OpenQA Database

[Service]
User=fedora
Group=fedora
ExecStart=/usr/bin/start-openqa-database.sh
Restart=no
ExecStop=/usr/bin/stop-openqa-database.sh

[Install]
WantedBy=multi-user.target
