[Unit]
Description=OpenQA Reverse Proxy for Web Server

[Service]
Environment=SRV='/home/fedora/openqa-containers/openqa-reverse-proxy'
Environment=PRODUCTION=true
ExecStart=/usr/bin/start-openqa-reverse-proxy.sh
Restart=no
ExecStop=/usr/bin/podman exec openqa-reverse-proxy /bin/bash -c "pkill -f tail"

[Install]
WantedBy=multi-user.target
