# fedora-openqa.py will take authorization from the first entry here
# otherwise tell it where to look with --openqa-hostname 172.31.1.1
#
# If using a non-standard port include the port here
# [172.31.1.1:8080]
#
# If using https, use the domain name not the ip address
#
[openqa.fedorainfracloud.org]
key = 1234567890ABCDEF
secret = 1234567890ABCDEF
