[Unit]
Description=OpenQA Workers: stop existing workers and start new ones

[Service]
User=fedora
Group=fedora
Environment=SRV='/home/fedora/openqa-containers/openqa-worker'
Environment=NUMBER_OF_WORKERS='10'
ExecStart=/usr/bin/start-openqa-worker.sh

[Install]
WantedBy=multi-user.target
